@media only screen and (min-width: 37.5em){
    main{
        grid-template-columns: 1fr 1fr;
    }

    main section{
        grid-column: span 1;
    }

    main section:nth-child(2){
        grid-column: span 1;
    }

    main section:nth-child(3){
        grid-column: span 1;
    }
}