@media only screen and (min-width: 60em){

    nav button{
        display: none;
    }

    nav ul.hide{
        display: flex;
        
    }

    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 2%;
    }
    
    nav ul li{
        flex: 1 1 100%;
    }

    nav ul li a{
        border: none;
        border-right: 1px solid #D9A408;
        padding: 0.6rem 1rem;
    }

    p{
        text-align: justify;
        margin: 0.5rem;
    }

    .summary{
        position:absolute;
        bottom: 3px;
        left: 30px; 
    }
    .table, th, td{
        left: 420px;
    }

    .hero img{
        width: 1300px;
        height: 300px;
    }

    .article img{
        float:right;
        position: relative;
        bottom: 200px;
        right: 20px;
        width: 250px;
        height: auto;
    }

    footer h2, footer p{
        position: relative;
        bottom: 5px;
        left: 750px;
        text-align: left;
    }

    .map img{
        position: relative;
        right: 240px;
        bottom: 100px;
        width: 500px;
        height: 300px;
    }

}