/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    /*banner*/
    .banner{
        text-align: center;
    }

    .hero img{
        /*padding: 10px;*/
        width: 100%;
        height: 200px;
    }

    .article img{
        display: block;
        margin: auto;
    }
} /*end medium */