@media only screen and (min-width: 35rem){
    /*---City Content---*/

.content img{
    display: block;
    margin: auto;
}

/*----Homepage Cards---*/
div.cards_companies{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.cards_companies section{
    display: block;
}


/*----3 Day Forecast----*/
div.forecast{
    max-width: 1035px;
    display: block;
    margin: auto;
}

td{
    padding-bottom: 1.5rem;
}

/*---Directory Cards----*/

.directory-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*----Footer Content---*/

/*footer figure.map_photo img{
    display: block;
    margin: auto;
}*/
}

