@media only screen and (min-width: 60em){

    /*Navigation Bar*/
    nav button{
        display: none;
    }

    nav ul.hide{
        display: flex;
        
    }

    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 2%;
    }
    
    nav ul li{
        flex: 1 1 100%;
    }

    nav ul li a{
        border: none;
        border-right: 1px solid #D9A408;
        padding: 0.6rem 1rem;
    }

    p{
        text-align: justify;
        margin: 0.5rem;
    }
    
    /*Weather Summary*/
    .summarydiv{
        position:absolute;
        top:0px;
        left:0px; 
    }

    .summary{
        padding: 1.3rem;
    }

    .summary p{
        padding: .25rem;
    }


    /*-----Table-----*/

    td{
        padding-bottom: 1.8rem;
    }

    /*Sections*/
    .hero{
        display: block;
        margin: auto;
        position: relative;
    }

    .article{
        margin: auto;
        max-width: 985px;
    }

    .contact{
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        top: 5px;
        max-width: 960px;
        height: 305px;
    }

    .contact h2{
        bottom: 5px;
        text-align: left;
    }

    .contact p{
       bottom: 5px;
    }

    /*----Images-----*/
    .hero img{
        position:relative;
        display: block;
        margin: auto;
    }

    main figure.art_photo{
        width: 35%;
        float: right;
        padding-left: 1rem;
    }
    

    /*----Contact Section-----*/

    main figure.map_photo{
        float: left;
        padding-right: 1em;
        width: 500px;
        height: 300px;
    }

    .fa{
        bottom: 150px;
    }

    form label.sbs{
        padding: 0.4rem 0;
    }

    div.cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*----Gallery----*/
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: span 1;
    }
    
    picture:hover{
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 80px #181218;
        opacity: .9;
    }
    
    piccaption{
        display: block;
        color: #D9A408;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }

    /*--------Event Cards--------*/
}